bkp_file
.ipynb_checkpoints/
notes_left_for_icitda_chatbot.md
notes_for_paper_icitda.md
notes_revisi_1.md
oretan_to_icitda.md
oretan_training.md
Facebook_Messenger_rasa_setup.md
__init__.py
__pycache__
napoleoncat-social-media-statistics-facebook-users-in-indonesia_2020_08.png

.DS_Store
data/nlu.json
models/20200915-184137.tar.gz
paper_misc/A_Probabilistic_Interpretation_of_Precision_Recall.pdf
paper_misc/Accuracy_Precision_Recall_F1.md
paper_misc/Bagan Alur Chatbot UII.png
paper_misc/action_confusion_matrix.png
paper_misc/confusion_matric_action.png
paper_misc/precision_formula.png
paper_misc/recall_formula.jpeg

rasa_core.log
models/

mariadb/aria_log.00000001
mariadb/aria_log_control
mariadb/ib_buffer_pool
mariadb/ib_logfile0
mariadb/ibdata1
mariadb/ibtmp1

.venv